.zoom {
    position: absolute;
    top: 80px;
    right: 35px;
    width: 40px;
    height: 40px;
    opacity: 0;
    animation: zoom 1s ease forwards;
}

@keyframes zoom {
    0%{opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0; top: 40px}
}

